
<%= will_paginate @recipes %>

<% if @recipe.recipe_ingredients.count > 0 %>
  <ul><% @recipe.recipe_ingredients.each do |item| %>
    <li><%= item.quantity %>
    <%= item.measurement.name %>
    <%= item.ingredient.name %></li>
  <% end %></ul>
<% end %>



<%=render 'form'%>

