<div class="recipes-container">
  <h2>Recipes</h2>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
        <div><h3><%= link_to recipe.name, recipe_path(recipe) %></h3></div>
        <div><%= recipe.difficulty_level %></div>
        <div><%= recipe.prep_time_hours %> hr. and <%=recipe.prep_time_min%> mins.</div>
        <div><%= recipe.description %></div>
    </div>
  <% end %>
</div>
<%= will_paginate @recipes %>