<h2> Recipes</h2>


<% @recipes.each do |recipe| %>
  <div>
    <ul>
      <li><h3><%= link_to recipe.name, recipe_path(recipe) %></h3></li>
      <li><%= recipe.difficulty_level %></li>
      <li><%= recipe.prep_time_hours %> hr. and <%=recipe.prep_time_min%> mins.</li>
      <li><%= recipe.description %></li>
    <ul>
  </div>
<% end %>

<%= will_paginate @recipes %>