<h1><%=@recipe.name %></h1>

<ul>
<li><%= @recipe.difficulty_level %></li>
<li><%= @recipe.prep_time %></li>
<li><%= @recipe.directions %></li>
<li><%= @recipe.description %></li>
<li><%= @recipe.creator %></li>
<li><%= @recipe.servings %></li>
</ul>
