<div class="recipe_show">
<h1 class="recipe_name"><%=@recipe.name %></h1>

<div class="stars">
<% 5.times do |star_value| %>
  <%= link_to image_tag("star.png", onmouseover: "this.src='#{asset_path('hover_star.png')}'", onmouseout: "this.src='#{asset_path('star.png')}'"),recipe_ratings_path(@recipe) + "?value=#{star_value}", method: :create %>
<% end %>
</div>
  <p>Average Rating: <%= @recipe.average_rating %></p>
  <p><%= @recipe.description %></p>

  <div>Author: <%= @recipe.creator %></div>
  <div>Level: <%= @recipe.difficulty_level %></div>
  <div>Preparation Time: <%= @recipe.prep_time_hours%> hr. and <%=@recipe.prep_time_min%> min.</div>
  <div>Serves: <%= @recipe.servings %></div>

  <h3>Directions</h3>
  <div><%= @recipe.directions %></div>
</div>

