<div class="recipe_show">
  <h1 class="recipe_name"><%=@recipe.name %></h1>

  <div class="stars">
  <% if @current_rating %>
    <% @current_rating.times do |star_value| %>
      <%= image_tag("hover_star.png") %>
    <% end %>
    <% (5 - @current_rating).times do |star_value| %>
      <%= image_tag("star.png") %>
    <% end %>
    <p>Thanks for voting!</p>
  <% else %>
    <% 5.times do |star_value| %>
      <%= link_to image_tag("star.png", onmouseover: "this.src='#{asset_path('hover_star.png')}'", onmouseout: "this.src='#{asset_path('star.png')}'"),recipe_ratings_path(@recipe) + "?value=#{star_value}", method: :create %>
    <% end %>
  <% end %>
  </div>
    <p>Average Rating: <%= @recipe.average_rating %></p>
    <% if @recipe.image.present? %>
    <p><%= link_to image_tag(@recipe.image.url(:med)), @post.image.url %></p>
    <% end %>
    <p><%= @recipe.description %></p>
    <div>Author: <%= @recipe.creator %></div>
    <div>Level: <%= @recipe.difficulty_level %></div>
    <div>Preparation Time: <%= @recipe.prep_time_hours%> hr. and <%=@recipe.prep_time_min%> min.</div>
    <div>Serves: <%= @recipe.servings %></div>
    <h3>Directions</h3>
    <div><%= @recipe.directions %></div>
</div>

