<h1><%=@recipe.name %></h1>
  <p><%= @recipe.description %></p>

  <div>Author: <%= @recipe.creator %></div>
  <div>Level: <%= @recipe.difficulty_level %></div>
  <div>Preparation Time: <%= @recipe.prep_time %></div>
  <div>Serves: <%= @recipe.servings %></div>

  <h3>Directions</h3>
  <div><%= @recipe.directions %></div>


