<%= form_for(@user) do |f| %>

  <% if @user.errors.any?%>
    <%@user.errors.full_messages.each do |msg| %>
      <li><%=msg%></li>
    <%end%>
  <%end%>

  <div>
    <%= f.label :name, "name: "%>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "email: "%>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "password: " %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "re-enter password:" %>
    <%= f.password_field :password_confirmation %>
  </div>


  <%= f.submit yield(:button_text) %>
<% end %>
