<%= form_for(@user) do |f| %>

  <% if @user.errors.any?%>
    <%@user.errors.full_messages.each do |msg| %>
      <li><%=msg%></li>
    <%end%>
  <%end%>

  <div>
    <%= f.label :name, "name: "%>
    <%= f.text_field :name %>
  </div>


  <%if !logged_in?%>
    <div>
    <%= f.label :email, "email: "%>
    <%= f.email_field :email %>
  </div>

    <div>
      <%= f.label :password, "password: " %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation, "re-enter password:" %>
      <%= f.password_field :password_confirmation %>
    </div>
  <%else%>
    <h3>Introduce <%=@user.name.capitalize%> to the ChowSource Community</h3>
      <div>
        <%= f.label :about, "Tell us about you:"%>
        <%= f.text_area :about %>
      </div>

      <div>
        <%= f.label :location, "Current location: "%>
        <%= f.text_field :location %>
      </div>

      <div>
        <%= f.label :password, "password: " %>
        <%= f.password_field :password %>
      </div>

  <%end%>

  <%= f.submit yield(:button_text) %>
<% end %>
